
#titulo {
	font-family: "Comfortaa";
	text-align: center;
	color: #94428A;
	padding-bottom: 3%;
}

.conteudo {
	text-align: center;
}

.conteudo ul {
	list-style: none;
	margin-bottom: 3%;
}

.conteudo li {
	display: inline;
}

.conteudo .roupas {
	margin-right: 4%;
	width: 13%;
	height: 13%;
}

